!!!
.wrapper
  .sidebar
    .side-header
      .side-main-header
        %p.side-main-header__name name
        %ul.menu
          %li.menu__icon new-group
          %li.menu__icon2 new-group
    .side-main
      .group
        %p.group__title niku
        %p.group__message sakana
      .group
        %p.group__title taiyaki
        %p.group__message udon
      .group
        %p.group__title tuke
        %p.group__message men
      .group
        %p.group__title yaki
        %p.group__message tori
  .mainbar
    .main-head
      .main-head-left
        %p.main-head-left__name beef
        %ul.group-name
          %li.group-name__member sova
      .edit
    .messages
      .message
        .data
          %p.data__user-name daisuke
          %p.data__date today
          %p.data__message hello
          %img.data__image image
    .main-hooter
      %form
        .input-box
          %input.message-text{type: "text_field"}
          %label
            %input.message-text{type: "file"}
            %i aaaaaa
          %input.send{type: "submit"}




