@import "./reset";
@import "font-awesome";

.wrapper{
  .sidebar {
    .side-header {
      background: #253141;
      width: 300px;
      height:110px;
      font:bold/16px;
      color: #FFFFFF;



    }
  }
}
